<div class="info">
	<!-- windowWidth: {{windowWidth}}
	windowHeight: {{windowHeight}} -->
	<form ng-submit="renderColors()">
		<div>
			<div class="col">
			<label>F1</label>
			<input type="text" ng-model="algo.f1">
			<label>F2</label>
			<input type="text" ng-model="algo.f2">
			<label>F3</label>
			<input type="text" ng-model="algo.f3">
			</div>

			<div class="col">
			<label>L1</label>
			<input type="text" ng-model="algo.l1">
			<label>L2</label>
			<input type="text" ng-model="algo.l2">
			<label>L3</label>
			<input type="text" ng-model="algo.l3">
			</div>
		</div>
		<br class="clearfix">
		<!-- 
		<label>M1</label>
		<input type="text" ng-model="algo.m1">
		<label>M2</label>
		<input type="text" ng-model="algo.m2"> -->
		
		<label>Qty.</label>
		<input type="number" ng-model="algo.blocks">

		<button type="submit">Update Colors</button>
	</form>
	<button ng-click="toggleResults()" class="export">{{resultsShown?"Hide":"Export"}} Colors</button>

	<p class="dominance">
		<label for="dominance-red" class="red">Red</label><input id="dominance-red" type="radio" value="red" ng-model="dominance"> 
		<label for="dominance-blue" class="blue">Blue</label><input type="radio" value="blue" id="dominance-blue" ng-model="dominance"> 
		<label for="dominance-green" class="green">Green</label><input type="radio" value="green" id="dominance-green" ng-model="dominance"> 
		<label for="dominance-all" class="all">All</label> <input type="radio" value="all" id="dominance-all" ng-model="dominance">
	</p>
</div>
<div class="results" ng-show="resultsShown">
	<p ng-repeat="color in palette">
		<span class="color" style="background:#{{color.hex}}"></span> #{{color.hex}}
	</p>
	<p>
		JSON:
		<textarea>{{palette}}</textarea>
	</p>
</div>
<div class="colors">
	<div class="color"
		ng-repeat="color in patrone | byColor:dominance"
		ng-click="toggleColor(color)"
		style="background:#{{color.hex}};">
		<!-- -webkit-transition-delay:{{$index * 100}}ms;transition-delay:{{$index * 100}}ms; -->
	</div>
</div>
<div class="palette" ng-show="countSelection() > 0">
	<!-- <div class="inner" style="width:{{countSelection() * 40}}px"> -->
		<div class="color" ng-repeat="color in palette" ng-click="toggleColor(color)" style="background:#{{color.hex}}">
			<!-- <span class="remove" ng-click="toggleColor(color)"></span> -->
		</div>
	<!-- </div> -->
</div>